extends layout.pug

block content
    h1.content-title
        i.material-icons bar_chart
        | Conselhos de Classe
        a.btn-success.btn-sm.pull-right(href='#modal-new')
            .material-icons add
            |  Criar novo conselho
    article.box
        .box-body
            .table
                table
                    thead
                        tr
                            th Nome
                            th.d-none.d-sm-table-cell Período
                            th.d-none.d-lg-table-cell Status
                    tbody
                        tr(v-for='council in councils' :class='new Date(council.start_date) <= new Date() && new Date(council.end_date) >= new Date() ? "text-bold" : ""')
                            td {{ council.name }}
                            td.d-none.d-sm-table-cell {{ new Date(council.start_date).toLocaleDateString('pt-BR') }} - {{ new Date(council.end_date).toLocaleDateString('pt-BR') }}
                            td.d-none.d-lg-table-cell {{ new Date() > new Date(council.end_date) ? 'Finalizado' : (new Date() < new Date(council.start_date) ? 'Aguardando início' : (council.active ? 'Acontecendo' : 'Pausado')) }}
                            td.text-right.no-wrap
                                a.btn-success.btn-sm.tooltip.tooltip-end(:href='"#modal-" + council.id' title='Permitir novamente as avaliações neste conselho' v-if='new Date() >= new Date(council.start_date) && new Date() <= new Date(council.end_date) && !council.active')
                                    .material-icons play_arrow
                                    span.d-none.d-md-inline  Liberar
                                a.btn-danger.btn-sm.tooltip.tooltip-end(:href='"#modal-" + council.id' title='Pausar as avaliações neste conselho' v-if='new Date() >= new Date(council.start_date) && new Date() <= new Date(council.end_date) && council.active')
                                    .material-icons pause
                                    span.d-none.d-md-inline  Pausar
                                a.btn-warning.btn-sm.tooltip.tooltip-end(:href='"#modal-edit-" + council.id' title='Editar informações do conselho')
                                    .material-icons edit
                                    span.d-none.d-md-inline  Editar
                                a.btn-danger.btn-sm.tooltip.tooltip-end(:href='"#modal-delete-"+council.id' title='Remover conselho')
                                    .material-icons delete
                                    span.d-none.d-md-inline  Remover
    div.modal#modal-new
        .modal-header Novo conselho de classe
        .modal-body
            .row.justify-content-center
                .col-sm-11
                    form.mark-required
                        br
                        .row
                            .col-md-4.input
                                input(required :placeholder='"Ex.: "+ (~~((new Date().getMonth() + 1)/4)+1)+"° trimestre "+ new Date().getFullYear()')
                                label Nome
                            .col-sm-6.col-md-4.input
                                input(type='date' required)
                                label Data inicial
                                    .material-icons.tooltip(data-tooltip='Primeiro dia disponível para avaliação') help
                            .col-sm-6.col-md-4.input
                                input(type='date' required)
                                label Data final
                                    .material-icons.tooltip(data-tooltip='Último dia disponível para avaliação') help
                        br
                        a.btn-danger(href='#') #[.material-icons close]  Cancelar
                        a.btn-success.pull-right(href='#') #[.material-icons check]  Salvar
                        br
    a.modal-close(href='#')

    div(v-for='council in councils')
        div.modal.modal-xs(v-if='new Date(council.start_date) <= new Date() && new Date(council.end_date) >= new Date()' :id='"modal-" + council.id' :class='council.active ? "modal-danger" : "modal-success"')
            .modal-header {{ council.active ? 'Pausar' : 'Liberar' }} avaliações
            .modal-body
                p Tem certeza que deseja {{ council.active ? 'pausar' : 'liberar' }} as avaliações neste conselho de classe?
            .modal-footer
                a.btn-primary.btn-sm(href='#') #[.material-icons close]  Cancelar
                a.btn-danger.btn-sm.pull-right(href='#' v-if='council.active') #[.material-icons pause]  Pausar
                a.btn-success.btn-sm.pull-right(href='#' v-if='!council.active') #[.material-icons play_arrow]  Liberar
        a.modal-close(href='#')

        div.modal(:id='"modal-edit-" + council.id')
            .modal-header Editar conselho de classe
            .modal-body
                .row.justify-content-center
                    .col-sm-11
                        form.mark-required
                            br
                            .row
                                .col-md-4.input
                                    input(required :value='council.name' :placeholder='"Ex.: "+ (~~((new Date().getMonth() + 1)/4)+1)+"° trimestre "+ new Date().getFullYear()')
                                    label Nome
                                .col-sm-6.col-md-4.input.tooltip.tooltip-bottom(data-tooltip='Primeiro dia disponível para avaliação')
                                    input(type='date' required :value='council.start_date' placeholder='Primeiro dia disponível para avaliação')
                                    label Data inicial
                                .col-sm-6.col-md-4.input
                                    input(type='date' required :value='council.end_date' placeholder='Primeiro dia disponível para avaliação')
                                    label Data final
                                        .material-icons.tooltip(data-tooltip='Último dia disponível para avaliação') help
                            br
                            a.btn-danger(href='#') #[.material-icons close]  Cancelar
                            a.btn-success.pull-right(href='#') #[.material-icons check]  Salvar
                            br
        a.modal-close(href='#')

        div.modal.modal-xs.modal-danger(:id='"modal-delete-" + council.id')
            .modal-header Remover conselho de classe
            .modal-body
                p Tem certeza que deseja remover este conselho de classe?
            .modal-footer
                a.btn-primary.btn-sm(href='#') #[.material-icons close]  Cancelar
                a.btn-danger.btn-sm.pull-right(href='#') #[.material-icons delete]  Remover
        a.modal-close(href='#')