extends layout.pug

block content
    .row
        .col-auto
            h1.content-title
                i.material-icons bar_chart
                | Conselhos de Classe
        .col.text-right
            a.btn-success.btn-sm.no-wrap(href='#modal-new')
                .material-icons add
                |  Criar novo conselho
    article.box
        .box-body
            .table(v-if='councils.length')
                table
                    thead
                        tr
                            th Nome
                            th.d-none.d-sm-table-cell Período
                            th.d-none.d-lg-table-cell Status
                    tbody
                        tr(v-for='council in councils' :class='activeCouncil(council.id) ? "text-bold" : ""')
                            td {{ council.name }}
                            td.d-none.d-sm-table-cell {{ new Date(council.start_date).toLocaleDateString('pt-BR') }} - {{ new Date(council.end_date).toLocaleDateString('pt-BR') }}
                            td.d-none.d-lg-table-cell {{ new Date() > new Date(council.end_date) ? 'Finalizado' : (new Date() < new Date(council.start_date) ? 'Aguardando início' : (council.active ? 'Acontecendo' : 'Pausado')) }}
                            td.text-right.no-wrap
                                a.btn-primary.btn-sm.tooltip.tooltip-end(:href='"report.html?id=" + council.id' title='Relatórios do conselho de classe')
                                    .material-icons bar_chart
                                    span.d-none.d-md-inline  Relatórios
                                a.btn-warning.btn-sm.tooltip.tooltip-end(:href='"#modal-edit-" + council.id' title='Editar informações do conselho')
                                    .material-icons edit
                                    span.d-none.d-md-inline  Editar
            .text-center.text-muted(v-else)
                br
                .h4 Ainda não há nenhum conselho de classe cadastrado
                br
    div.modal#modal-new
        .modal-header Novo conselho de classe
        .modal-body
            .row.justify-content-center
                .col-sm-11
                    form(action='#' data-success='Conselho de classe criado com sucesso' data-error='Não foi possível criar o conselho de classe' onsubmit='council_save(event)')
                        br
                        .row
                            .col-md-4.input
                                input(required :placeholder='"Ex.: "+ (~~((new Date().getMonth() + 1)/4)+1)+"° trimestre "+ new Date().getFullYear()' name='name')
                                label Nome
                            .col-sm-6.col-md-4.input
                                input(type='date' required name='start_date')
                                label Data inicial
                                    |
                                    |
                                    .material-icons.tooltip(data-tooltip='Primeiro dia disponível para avaliação') help
                            .col-sm-6.col-md-4.input
                                input(type='date' required name='end_date')
                                label Data final
                                    |
                                    |
                                    .material-icons.tooltip(data-tooltip='Último dia disponível para avaliação') help
                        br
                        .row
                            .col-6.col-md-4(v-for='topic in topics' v-if='topic.active')
                                label
                                    input(type='checkbox' name='council_topic[]' :value='topic.id')
                                    |  {{ topic.name }}
                        br
                        a.btn-danger(href='#') #[.material-icons close]  Cancelar
                        button.btn-success.pull-right(type='submit') #[.material-icons check]  Salvar
                        br
    a.modal-close(href='#')

    div(v-for='council in councils')
        div.modal(:id='"modal-edit-" + council.id')
            .modal-header Editar conselho de classe
            .modal-body
                .row.justify-content-center
                    .col-sm-11
                        form(action='#' data-success='Conselho de classe editado com sucesso' data-error='Não foi possível editar o conselho de classe' onsubmit='council_update(event)')
                            input(type='hidden' name='id' :value='council.id')
                            br
                            .row
                                .col-md-4.input
                                    input(required name='name' :value='council.name' :placeholder='"Ex.: "+ (~~((new Date().getMonth() + 1)/4)+1)+"° trimestre "+ new Date().getFullYear()')
                                    label Nome
                                .col-sm-6.col-md-4.input
                                    input(type='date' required name='start_date' :value='council.start_date' placeholder='Primeiro dia disponível para avaliação')
                                    label Data inicial
                                        |
                                        |
                                        .material-icons.tooltip(data-tooltip='Primeiro dia disponível para avaliação') help
                                .col-sm-6.col-md-4.input
                                    input(type='date' required name='end_date' :value='council.end_date' placeholder='Primeiro dia disponível para avaliação')
                                    label Data final
                                        |
                                        |
                                        .material-icons.tooltip(data-tooltip='Último dia disponível para avaliação') help
                            br
                            .row
                                .col-6.col-md-4(v-for='topic in topics' v-if='council_topics.find(council_topic => council_topic.council_id === council.id && council_topic.topic_id === topic.id) !== undefined')
                                    .material-icons check
                                    |  {{ topic.name }}
                            br
                            a.btn-danger(href='#') #[.material-icons close]  Cancelar
                            button.btn-success.pull-right(type='submit') #[.material-icons check]  Salvar
                            br
        a.modal-close(href='#')