extends layout.pug

block content
    h1.content-title
        i.material-icons edit
        | Avaliar - {{ current_council.name }}
    article.box
        .box-body
            form(action='#' data-success='Avaliação salva com sucesso' data-error='Não foi possível salvar a avaliação' onsubmit='evaluation_save(event)')
                .row.justify-content-center
                    .col-12.col-md-8.col-lg-6
                        .row.justify-content-center
                            .input.col-12.col-sm-6
                                select#current_grade_id(name='current_grade_id' required v-model='current_grade_id')
                                    option(value='' selected hidden disabled) Selecione...
                                    option(v-for='grade in grades' :value='grade.id' v-if='teachers.find(teacher => teacher.user_id === user.id && teacher.grade_id === grade.id) !== undefined') {{ grade.name }}
                                label(for='current_grade_id') Turma
                            .input.col-12.col-sm-6
                                select#current_subject_id(name='current_subject_id' required v-model='current_subject_id' :disabled='!current_grade_id')
                                    option(value='' selected hidden disabled) {{ current_grade_id ? 'Selecione...' : 'Selecione a turma...' }}
                                    option(v-for='subject in subjects' v-if='current_grade_id && grade_subjects.find(grade_subject => grade_subject.subject_id === subject.id && grade_subject.grade_id === current_grade_id && teachers.find(teacher => teacher.user_id === user.id && teacher.subject_id === subject.id) !== undefined) !== undefined' :value='subject.id') {{ subject.name }}
                                label(for='current_subject_id') Matéria
                .table
                    table
                        thead
                            tr
                                th Aluno
                                th.no-wrap(v-for='topic in topics.filter(topic => council_topics.find(council_topic => council_topic.topic_id === topic.id && council_topic.council_id === current_council.id) !== undefined)') {{ topic.name }}
                        tbody
                            tr(v-for='student in students' v-if='!!current_subject_id && student_grades.find(student_grade => student_grade.student_id === student.id && student_grade.grade_id === current_grade_id) !== undefined' :data-student_id='student.id')
                                td.no-wrap {{ student.name }}
                                td(v-for='topic in topics.filter(topic => council_topics.find(council_topic => council_topic.topic_id === topic.id && council_topic.council_id === current_council.id) !== undefined)')
                                    select(required onchange='set_confirm_redirect()' :data-topic_id='topic.id')
                                        option(v-if='!topic.topic_option_id && !selectedEvaluation(student.id, topic.id)' value='' hidden disabled selected) Selecione...
                                        option(v-for='topic_option in orderedTopicOptions(topic.id)' :value='topic_option.id' :selected='(selectedEvaluation(student.id, topic.id) ? selectedEvaluation(student.id, topic.id) : topic.topic_option_id) === topic_option.id') {{ topic_option.name }}
                .text-right
                    button.btn-lg.btn-success(type='submit')
                        .material-icons check
                        |  Salvar avaliações