extends layout.pug

block content
    h1.content-title
        i.material-icons edit
        | Avaliar - {{ current_council.name }}
    article.box
        .box-body
            form(action='#' data-success='Avaliação salva com sucesso' data-error='Não foi possível salvar a avaliação' onsubmit='evaluation_save(event)')
                br
                .row.justify-content-center
                    .col-12.col-md-8.col-lg-6
                        .row.justify-content-center
                            .input.col-12.col-sm-6
                                select#current_grade_id(name='current_grade_id' required v-model='current_grade_id')
                                    option(value='' selected hidden disabled) Selecione...
                                    option(v-for='grade in grades' :value='grade.id' v-if='teachers.find(teacher => teacher.user_id === user.id && teacher.grade_id === grade.id) !== undefined') {{ grade.name }}
                                label(for='current_grade_id') Turma
                            .input.col-12.col-sm-6
                                select#current_subject_id(name='current_subject_id' required v-model='current_subject_id' :disabled='!current_grade_id')
                                    option(value='' :selected='!current_grade_id || subjectsInGrade.filter(subject => grade_subjects.find(grade_subject => grade_subject.subject_id === subject.id && teachers.find(teacher => teacher.user_id === user.id && teacher.subject_id === subject.id))).length !== 1' hidden disabled) {{ current_grade_id ? 'Selecione...' : 'Selecione a turma...' }}
                                    option(v-for='subject in subjectsInGrade' v-if='grade_subjects.find(grade_subject => grade_subject.subject_id === subject.id && teachers.find(teacher => teacher.user_id === user.id && teacher.subject_id === subject.id))' :selected='subjectsInGrade.filter(subject => grade_subjects.find(grade_subject => grade_subject.subject_id === subject.id && teachers.find(teacher => teacher.user_id === user.id && teacher.subject_id === subject.id))).length === 1' :value='subject.id') {{ subject.name }}
                                label(for='current_subject_id') Disciplina
                br
                div(v-if='current_subject_id')
                    .text-center
                        label
                            input(type='checkbox' v-model='hide_evaluated_students')
                            |  Mostrar apenas alunos não avaliados
                    br
                    .table
                        table
                            thead
                                tr
                                    th Aluno
                                    th(v-for='topic in councilTopics') {{ topic.name }}
                                    th Observações Gerais
                            tbody(v-if='evaluations.length')
                                tr(v-for='student in studentsInGrade' :data-student_id='student.id' v-if='!hide_evaluated_students || !studentHasEvaluation(student.id)')
                                    td {{ studentGrade(student.id).number }} - {{ student.name }}
                                        span.text-muted(v-if='!studentHasEvaluation(student.id)')  (não avaliado)
                                    td(v-for='topic in councilTopics')
                                        select(required onchange='set_confirm_redirect()' :data-topic_id='topic.id' v-model='evaluations.find(evaluation => evaluation.student_id === student.id && evaluation.topic_id === topic.id).topic_option_id')
                                            option(v-for='topic_option in orderedTopicOptions(topic.id)' :value='topic_option.id') {{ topic_option.name }}
                                    td
                                        textarea.resize-v(style='min-width: 250px; min-height: 70px' v-if='student_observations.find(student_observation => student_observation.student_id === student.id && student_observation.grade_id === current_grade_id && student_observation.subject_id === current_subject_id && student_observation.council_id === current_council.id && student_observation.user_id === user.id) !== undefined' v-model='student_observations.find(student_observation => student_observation.student_id === student.id && student_observation.grade_id === current_grade_id && student_observation.subject_id === current_subject_id && student_observation.council_id === current_council.id && student_observation.user_id === user.id).description')
                                        textarea.resize-v(style='min-width: 250px; min-height: 70px' v-else placeholder='Conteúdos não assimilados e ações efetivadas')
                                    td
                                        a.btn-success.btn-sm.tooltip.tooltip-end(type='button' title='Salvar avaliação do aluno' :onclick='"student_evaluation_save("+student.id+")"')
                                            .material-icons check
                    br
                    .row
                        .col-md-8
                            textarea.resize-v(name='grade_observation' style='min-width: 300px' minlength='3' placeholder='Observações da turma' v-if='grade_observations.find(grade_observation => grade_observation.grade_id === current_grade_id && grade_observation.subject_id === current_subject_id && grade_observation.council_id === current_council.id && grade_observation.user_id === user.id) !== undefined' v-model='grade_observations.find(grade_observation=> grade_observation.grade_id === current_grade_id && grade_observation.subject_id === current_subject_id && grade_observation.council_id === current_council.id && grade_observation.user_id === user.id).description')
                            textarea.resize-v(name='grade_observation' style='min-width: 300px' minlength='3' placeholder='Observações da turma' v-else)
                        .col-md-4.text-right
                            button.btn-lg.btn-success(type='submit')
                                .material-icons check
                                |  Salvar
                .text-center.text-muted(v-else)
                    br
                    .h4 Selecione uma {{ current_grade_id ? 'disciplina' : 'turma' }} para avaliar.
                    br
