extends layout.pug

block content
    .row
        .col-auto
            h1.content-title
                i.material-icons people
                | Turma
        .col.text-right
            a.btn-success.btn-sm.no-wra(href='#modal-new')
                .material-icons add
                |  Criar nova turma
    article.box
        .box-body
            .table(v-if='grades.length')
                table
                    thead
                        tr
                            th Nome
                    tbody
                        tr(v-for='grade in grades')
                            td(:class='!parseInt(grade.active) ? "text-muted" : ""') {{ grade.name }}
                                span.text-muted(v-if='!parseInt(grade.active)')  (invisível)
                            td.text-right.no-wrap
                                a.btn-primary.btn-sm.tooltip.tooltip-end(href='#modal-students' title='Estudantes' :onclick='"app._data.current_grade_id = "+grade.id')
                                    .material-icons person
                                    span.d-none.d-md-inline  Estudantes
                                a.btn-primary.btn-sm.tooltip.tooltip-end(href='#modal-subjects' title='Disciplinas' :onclick='"app._data.current_grade_id = "+grade.id')
                                    .material-icons book
                                    span.d-none.d-md-inline  Disciplinas
                                a.btn-warning.btn-sm.tooltip.tooltip-end(href='#modal-edit' title='Editar informações da turma' :onclick='"app._data.current_grade_id = "+grade.id')
                                    .material-icons edit
                                    span.d-none.d-md-inline  Editar
            .text-center.text-muted(v-else)
                br
                .h4 Ainda não há nenhuma turma cadastrada
                br
    div.modal#modal-new
        .modal-header Nova turma
        .modal-body
            .row.justify-content-center
                .col-sm-11
                    form(action='#' data-resource='grade' data-success='Turma cadastrada com sucesso' data-error='Não foi possível cadastrar a turma' onsubmit='grade_save(event)')
                        input(type='hidden' name='active' value='1')
                        br
                        .row
                            .col-sm-8.input
                                input(required placeholder='Ex.: 1° Ano A' name='name')
                                label Nome
                            .col-sm-4.input
                                input(type='number' required min='1' placeholder='Ex. 1° ano: 1' name='level')
                                label Nível
                                    |
                                    |
                                    .material-icons.tooltip.tooltip-left.tooltip-start(data-tooltip!='1° ano: nível 1;&#xa;2° ano: nível 2;&#xa;3° ano: nível 3;&#xa;etc') info
                        br
                        .row
                            .col-6.col-md-4(v-for='subject in subjects' v-if='subject.active')
                                label
                                    input(type='checkbox' name='grade_subject[]' :value='subject.id')
                                    |  {{ subject.name }}
                        br
                        a.btn-danger(href='#') #[.material-icons close]  Cancelar
                        button.btn-success.pull-right(type='submit') #[.material-icons check]  Salvar
                        br
    a.modal-close(href='#')

    template(v-if='current_grade_id')
        div.modal#modal-students
            .modal-header Estudantes - {{ grades.find(grade => parseInt(grade.id) === parseInt(current_grade_id)).name }}
            .modal-body
                .row.justify-content-center
                    .col-sm-11
                        form(action='#' data-resource='grade' data-success='Estudante cadastrado com sucesso' data-error='Não foi possível cadastrar o estudante' onsubmit='student_save(event)')
                            input(type='hidden' name='grade_id' :value='current_grade_id')
                            br
                            .row
                                .col-sm-8.input
                                    input(required placeholder='Ex.: João da Silva' name='name')
                                    label Nome
                                .col-sm-4.input
                                    input(type='number' required min='1' placeholder='Ex.: 5' name='number')
                                    label Número
                            button.btn-success.pull-right(type='submit') #[.material-icons check]  Salvar
                        br
                        table.table(v-if='studentsInGrade')
                            thead
                                tr
                                    th Nome
                                    th Número
                            tbody
                                tr(v-for='student in studentsInGrade' :data-student_id='student.id')
                                    template(v-if='studentGrade(student.id).end_date <= new Date().toISOString().slice(0, 10)')
                                        td(class='text-striked') {{ student.name }}
                                        td(style='max-width: 75px') {{ studentGrade(student.id).number }}
                                        td.text-right
                                            button.btn-primary.btn-sm.tooltip.tooltip-end(title='Ativar e Desativar' :onclick='"student_toggle("+student.id+")"')
                                                .material-icons visibility_off
                                                span.d-none.d-md-inline  Ativar e Desativar
                                    template(v-else)
                                        td
                                            input(name='name' :value='student.name')
                                        td(style='max-width: 75px')
                                            input(type='number' min='1' step='1' name='number' :value='studentGrade(student.id).number')
                                        td.text-right
                                            button.btn-success.btn-sm.tooltip.tooltip-end(title='Salvar' :onclick='"student_update("+student.id+")"')
                                                .material-icons save
                                                span.d-none.d-md-inline  Salvar
                                            button.btn-primary.btn-sm.tooltip.tooltip-end(title='Ativar e Desativar' :onclick='"student_toggle("+student.id+")"')
                                                .material-icons visibility_off
                                                span.d-none.d-md-inline  Ativar e Desativar

                        br
                        a.btn-danger(href='#') #[.material-icons close]  Fechar
        a.modal-close(href='#')

        div.modal#modal-edit
            .modal-header Editar turma
            .modal-body
                .row.justify-content-center
                    .col-sm-11
                        form(action='#' data-resource='grade' data-success='Turma editada com sucesso' data-error='Não foi possível editar a turma' onsubmit='grade_update(event)')
                            input(type='hidden' name='id' :value='current_grade_id')
                            br
                            .row
                                .col-sm-8.input
                                    input(required :value='currentGrade.name' placeholder='Ex.: 1° Ano A' name='name')
                                    label Nome
                                .col-sm-4.input
                                    input(type='number' required :value='currentGrade.level' min='1' placeholder='Ex.: 1' name='level')
                                    label Nível
                                        |
                                        |
                                        .material-icons.tooltip.tooltip-left.tooltip-start(data-tooltip!='1° ano: nível 1;&#xa;2° ano: nível 2;&#xa;3° ano: nível 3;&#xa;etc') info
                            .row
                                .col-12.text-center
                                    label
                                        br
                                        input(name='active' value='1' :checked='parseInt(currentGrade.active)' type='checkbox')
                                        | Visível
                            br
                            a.btn-danger(href='#') #[.material-icons close]  Cancelar
                            button.btn-success.pull-right(type='submit') #[.material-icons check]  Salvar
                            br
        a.modal-close(href='#')

        div.modal#modal-subjects
            .modal-header Disciplinas - {{ grades.find(grade => grade.id === current_grade_id).name }}
            .modal-body
                .row.justify-content-center
                    .col-sm-11
                        form(action='#' data-success='Disciplina incluída com sucesso' data-error='Não foi possível incluir a disciplina' onsubmit='grade_subject_save(event)')
                            br
                            .row.justify-content-center
                                .col-12.col-sm-6.input
                                    select(required name='subject_id')
                                        option(value='' disabled hidden selected) Selecione...
                                        option(v-for='subject in subjects.filter(subject_filter => grade_subjects.find(grade_subject => grade_subject.grade_id === current_grade_id && grade_subject.subject_id === subject_filter.id) === undefined)' :value='subject.id') {{ subject.name }}
                                    label Disciplina
                                .col-12.col-sm-3
                                    br.d-none.d-sm-inline
                                    button.btn-success(type='submit')
                                        .material-icons check
                                        |  Salvar

                            .row
                                .col-6.col-md-4(v-for='subject in subjects.filter(subject_filter => grade_subjects.find(grade_subject => grade_subject.grade_id === current_grade_id && grade_subject.subject_id === subject_filter.id) !== undefined)')
                                    .material-icons check
                                    |  {{ subject.name }}
                            br
                            a.btn-danger(href='#') #[.material-icons close]  Cancelar
                            br
        a.modal-close(href='#')