doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1')
        meta(name='theme-color' content='#3c8dbc')
        meta(name='msapplication-TileColor' content='#3c8dbc')
        meta(name='msapplication-navbutton-color' content='#3c8dbc')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
        title Conselho
        link(rel='stylesheet' href='node_modules/lite-admin/dist/style.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        style.
            #loading {
                position: fixed;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background-color: rgba(0, 0, 0, .7);
                color: white;
                line-height: 100vh;
                text-align: center;
                z-index: 100;
            }
            #loading>.material-icons {
                font-size: 35px;
                animation: loading 1.5s 0s infinite linear;
            }
            @keyframes loading {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(-360deg);
                }
            }

        // in production change to vue.min.js
        script(src='node_modules/vue/dist/vue.js')
        script(src='node_modules/dexie/dist/dexie.min.js')
    body.mark-required
        form#form-valid-support-helper
            input(required)
        #app
            header.header
                a.header-button.main-button(href='index.html') Conselho
                a.header-button.menu-toggle.material-icons(href='#menu') menu
                .header-pane(v-if='userHasPermission("role")')
                    button.header-button.material-icons(type='button') calendar_today
                        span.header-button-label-red(v-if='teacher_requests.length') {{ teacher_requests.length }}
                    .header-pane-popup
                        .header-pane-header
                            i.material-icons notifications
                            | Notificações
                        .header-pane-body
                            div(v-for='(teacher_request, index) in teacher_requests')
                                hr.margin-h-15(v-if='index')
                                a.no-link(href='role.html')
                                    .header-notification-title
                                        b {{ users.find(user => user.id === teacher_request.user_id).name }}
                                        |  aguarda sua aprovação
                                    .header-notification-description {{ grades.find(grade => grade.id === teacher_request.grade_id).name }} - {{ subjects.find(subject => subject.id === teacher_request.subject_id).name }}
                                        .text-muted {{ new Date(teacher_request.created_at).toLocaleDateString('pt-BR') }}
                            .text-center.text-muted(v-if='!teacher_requests.length')
                                br
                                br
                                .h5 Não há notificações
                                br
                                br
                .header-pane
                    button.header-button(type='button') {{ user.name }}
                    .header-pane-popup
                        .header-pane-body.text-center.bg-primary.text-white
                            br
                            .text-80
                                i.material-icons.user-icon account_circle
                            .text-20 {{ user.name }}
                            br
                            br
                        .header-pane-footer
                            a.btn-default.btn-sm(href='user.html') Usuário
                            button.btn-default.btn-sm.pull-right(type='button' onclick='logout()') Sair
            div.container
                nav.menu#menu
                    a.menu-close.header-button.material-icons(href='#') menu
                    a.menu-link(href='index.html')
                        i.material-icons home
                        | Início
                    a.menu-link(href='subject.html' :class='pathname.endsWith("subject.html") ? "menu-active" : ""' v-if='userHasPermission("subject")')
                        i.material-icons book
                        | Disciplinas
                    a.menu-link(href='topic.html' :class='pathname.endsWith("topic.html") ? "menu-active" : ""' v-if='userHasPermission("topic")')
                        i.material-icons list
                        | Tópicos
                    a.menu-link(href='grade.html' :class='pathname.endsWith("grade.html") ? "menu-active" : ""' v-if='userHasPermission("grade")')
                        i.material-icons people
                        | Turmas
                    a.menu-link(href='council.html' :class='pathname.endsWith("council.html") ? "menu-active" : ""' v-if='userHasPermission("council")')
                        i.material-icons bar_chart
                        | Conselhos de Classe
                    a.menu-link(href='role.html' :class='pathname.endsWith("role.html") ? "menu-active" : ""' v-if='userHasPermission("role")')
                        i.material-icons supervisor_account
                        | Usuários
                    a.menu-link(href='teacher.html' :class='pathname.endsWith("teacher.html") ? "menu-active" : ""' v-if='userHasPermission("evaluate")')
                         i.material-icons people
                         | Turmas
                    a.menu-link(:href='"evaluate.html?id="+council.id' :class='pathname.endsWith("evaluate.html") && current_council.id === council.id ? "menu-active" : ""' v-for='council in councils' v-if='userHasPermission("evaluate") && activeCouncil(council.id)')
                        i.material-icons edit
                        | {{ council.name }}
                main.content.mark-required.selection-primary
                    block content
            input(type='radio' name='notification-toggle' class='notification-toggle notification-start-hidden' checked)
            input(type='radio' name='notification-toggle' class='notification-toggle' id='no-notification')
            input(type='radio' name='notification-toggle' class='notification-toggle' id='notification-shown')
            .notification(:class='"notification-"+notification.style' v-if='Object.keys(notification).length > 0')
                label(for='no-notification' class='notification-dismiss material-icons') close
                .notification-icon.material-icons(v-if='notification.icon !== undefined') {{ notification.icon }}
                .notification-title {{ notification.title }}
                | {{ notification.message }}
            #loading(v-if='loading')
                .material-icons sync
        script(src='js/main.js')