extends layout.pug

block content
    .row
        .col-auto
            h1.content-title
                i.material-icons account_box
                | Tipos de usuários
        .col.text-right
            a.btn-success.btn-sm.no-wra(href='#modal-new')
                .material-icons add
                |  Criar novo tipo de usuário
    article.box
        .box-body
            .table
                table
                    thead
                        tr
                            th Nome
                    tbody
                        tr(v-for='role_type in role_types')
                            td {{ role_type.name }}
                            td.text-right.no-wrap
                                a.btn-warning.btn-sm.tooltip.tooltip-end(:href='"#modal-edit-" + role_type.id' title='Editar tipo de usuário')
                                    .material-icons edit
                                    span.d-none.d-md-inline  Editar
                                a.btn-danger.btn-sm.tooltip.tooltip-end(:href='"#modal-delete-"+role_type.id' title='Remover tipo de usuário')
                                    .material-icons delete
                                    span.d-none.d-md-inline  Remover
    div.modal#modal-new
        .modal-header Novo tipo de usuário
        .modal-body
            .row.justify-content-center
                .col-sm-11
                    form.mark-required
                        br
                        .input
                            input(required placeholder='Ex.: Professor')
                            label Nome
                        br
                        a.btn-danger(href='#') #[.material-icons close]  Cancelar
                        a.btn-success.pull-right(href='#') #[.material-icons check]  Salvar
                        br
    a.modal-close(href='#')

    div(v-for='role_type in role_types')
        div.modal(:id='"modal-edit-" + role_type.id')
            .modal-header Editar tipo de usuário
            .modal-body
                .row.justify-content-center
                    .col-sm-11
                        form.mark-required
                            br
                            .input
                                input(required :value='role_type.name' placeholder='Ex.: Professor')
                                label Nome
                            br
                            a.btn-danger(href='#') #[.material-icons close]  Cancelar
                            a.btn-success.pull-right(href='#') #[.material-icons check]  Salvar
                            br
        a.modal-close(href='#')

        div.modal.modal-xs.modal-danger(:id='"modal-delete-" + role_type.id')
            .modal-header Remover tipo de usuário
            .modal-body
                p Tem certeza que deseja remover este tipo de usuário?
            .modal-footer
                a.btn-primary.btn-sm(href='#') #[.material-icons close]  Cancelar
                a.btn-danger.btn-sm.pull-right(href='#') #[.material-icons delete]  Remover
        a.modal-close(href='#')