extends layout.pug

block content
    h1.content-title
        i.material-icons people
        | Usuários
    article.box
        .box-body
            .table
                table
                    thead
                        tr
                            th Nome
                            th Tipo
                            th E-mail
                    tbody
                        tr(v-for='user in users')
                            td {{ user.name }}
                            td {{ role_type(user.id).name }}
                            td {{ user.email }}