extends layout.pug

block content
    .row
        .col-auto
            h1.content-title
                i.material-icons people
                | Usuários
        .col.text-right
            a.btn-success.btn-sm.no-wra(href='#modal-new')
                .material-icons add
                |  Criar novo usuário
    article.box
        .box-body
            .table
                table
                    thead
                        tr
                            th Nome
                            th Tipo
                            th E-mail
                    tbody
                        tr(v-for='user in users')
                            td {{ user.name }}
                            td {{ role_type(user.id).name }}
                            td {{ user.email }}
    div.modal#modal-new
        .modal-header Novo usuário
        .modal-body
            .row.justify-content-center
                .col-sm-11
                    form(action='#' data-success='Usuário cadastrado com sucesso' data-error='Não foi possível cadastrar o usuário' onsubmit='user_save(event)')
                        br
                        .row
                            .col-sm-6.input
                                input(required placeholder='Ex.: João da Silva' name='name' minlength='3')
                                label Nome
                            .col-sm-6.input
                                input(required placeholder='Ex.: joao@email.com' name='email' type='email' minlength='3')
                                label E-mail
                        .row
                            .col-sm-6.input
                                input(required placeholder='Ao menos 5 caracteres' name='password' type='password' minlength='5')
                                label Senha
                            .col-sm-6.input
                                input(required placeholder='Igual à anterior' name='re_password' type='password' minlength='5')
                                label Repita a senha
                        .row.justify-content-center
                            .col-sm-6.input
                                select(required name='role_type_id')
                                    option(value='' selected disabled hidden) Selecione...
                                    option(v-for='role_type in role_types' :value='role_type.id') {{ role_type.name }}
                                label Tipo de usuário
                        br
                        br
                        a.btn-danger(href='#') #[.material-icons close]  Cancelar
                        button.btn-success.pull-right(type='submit') #[.material-icons check]  Salvar
                        br
    a.modal-close(href='#')
