extends layout.pug

block content
    .row
        .col-auto
            h1.content-title
                i.material-icons person
                | Aluno
        .col.text-right
            a.btn-success.btn-sm.no-wrap(href='#modal-new')
                .material-icons add
                | Criar novo aluno
    article.box
        .box-body
            .table
                table
                    thead
                        tr
                            th Nome
                    tbody
                        tr(v-for='student in students')
                            td {{ student.name }}
                            td.text-right.no-wrap
                                a.btn-warning.btn-sm.tooltip.tooltip-end(:href='"#modal-edit-" + student.id' title='Editar aluno')
                                    .material-icons edit
                                    span.d-none.d-md-inline  Editar
                                a.btn-danger.btn-sm.tooltip.tooltip-end(:href='"#modal-delete-"+student.id' title='Remover aluno')
                                    .material-icons delete
                                    span.d-none.d-md-inline  Remover
    div.modal#modal-new
        .modal-header Novo aluno
        .modal-body
            .row.justify-content-center
                .col-sm-11
                    form.mark-required
                        br
                        .input
                            input(required placeholder='Ex.: João da Silva')
                            label Nome
                        br
                        a.btn-danger(href='#') #[.material-icons close]  Cancelar
                        a.btn-success.pull-right(href='#') #[.material-icons check]  Salvar
                        br
    a.modal-close(href='#')

    div(v-for='student in students')
        div.modal(:id='"modal-edit-" + student.id')
            .modal-header Editar aluno
            .modal-body
                .row.justify-content-center
                    .col-sm-11
                        form.mark-required
                            br
                            .input
                                input(required :value='student.name' placeholder='Ex.: João da Silva')
                                label Nome
                            br
                            a.btn-danger(href='#') #[.material-icons close]  Cancelar
                            a.btn-success.pull-right(href='#') #[.material-icons check]  Salvar
                            br
        a.modal-close(href='#')

        div.modal.modal-xs.modal-danger(:id='"modal-delete-" + student.id')
            .modal-header Remover aluno
            .modal-body
                p Tem certeza que deseja remover este aluno?
            .modal-footer
                a.btn-primary.btn-sm(href='#') #[.material-icons close]  Cancelar
                a.btn-danger.btn-sm.pull-right(href='#') #[.material-icons delete]  Remover
        a.modal-close(href='#')