extends layout.pug

block content
    .row
        .col-auto
            h1.content-title
                i.material-icons book
                | Matérias
        .col.text-right
            a.btn-success.btn-sm.no-wra(href='#modal-new')
                .material-icons add
                |  Criar nova matéria
    article.box
        .box-body
            .table
                table
                    thead
                        tr
                            th Nome
                    tbody
                        tr(v-for='subject in subjects')
                            td {{ subject.name }}
                            td.text-right.no-wrap
                                a.btn-danger.btn-sm.tooltip.tooltip-end(:href='"#modal-"+subject.id' title='Esconder matéria' v-if='subject.active')
                                    .material-icons visibility_off
                                    span.d-none.d-md-inline  Esconder
                                a.btn-success.btn-sm.tooltip.tooltip-end(:href='"#modal-"+subject.id' title='Mostrar matéria' v-if='!subject.active')
                                    .material-icons visibility
                                    span.d-none.d-md-inline  Mostrar
                                a.btn-warning.btn-sm.tooltip.tooltip-end(:href='"#modal-edit-" + subject.id' title='Editar matéria')
                                    .material-icons edit
                                    span.d-none.d-md-inline  Editar
                                a.btn-danger.btn-sm.tooltip.tooltip-end(:href='"#modal-delete-"+subject.id' title='Remover matéria')
                                    .material-icons delete
                                    span.d-none.d-md-inline  Remover
    div.modal#modal-new
        .modal-header Nova matéria
        .modal-body
            .row.justify-content-center
                .col-sm-11
                    form.mark-required
                        br
                        .input
                            input(required placeholder='Ex.: Matemática')
                            label Nome
                        br
                        a.btn-danger(href='#') #[.material-icons close]  Cancelar
                        a.btn-success.pull-right(href='#') #[.material-icons check]  Salvar
                        br
    a.modal-close(href='#')

    div(v-for='subject in subjects')
        div.modal.modal-xs(:id='"modal-" + subject.id' :class='subject.active ? "modal-danger" : "modal-success"')
            .modal-header {{ subject.active ? 'Esconder' : 'Mostrar' }} matéria
            .modal-body
                p Tem certeza que deseja {{ subject.active ? 'esconder' : 'mostrar' }} esta matéria?
            .modal-footer
                a.btn-primary.btn-sm(href='#') #[.material-icons close]  Cancelar
                a.btn-danger.btn-sm.pull-right(href='#' v-if='subject.active') #[.material-icons visibility_off]  Esconder
                a.btn-success.btn-sm.pull-right(href='#' v-if='!subject.active') #[.material-icons visibility]  Mostrar
        a.modal-close(href='#')

        div.modal(:id='"modal-edit-" + subject.id')
            .modal-header Editar matéria
            .modal-body
                .row.justify-content-center
                    .col-sm-11
                        form.mark-required
                            br
                            .input
                                input(required :value='subject.name' placeholder='Ex.: Matemática')
                                label Nome
                            br
                            a.btn-danger(href='#') #[.material-icons close]  Cancelar
                            a.btn-success.pull-right(href='#') #[.material-icons check]  Salvar
                            br
        a.modal-close(href='#')

        div.modal.modal-xs.modal-danger(:id='"modal-delete-" + subject.id')
            .modal-header Remover matéria
            .modal-body
                p Tem certeza que deseja remover esta matéria?
            .modal-footer
                a.btn-primary.btn-sm(href='#') #[.material-icons close]  Cancelar
                a.btn-danger.btn-sm.pull-right(href='#') #[.material-icons delete]  Remover
        a.modal-close(href='#')