extends layout.pug

block content
    .row
        .col-auto
            h1.content-title
                i.material-icons list
                | Tópicos
        .col.text-right
            a.btn-success.btn-sm.no-wrap(href='#modal-new')
                .material-icons add
                | Criar novo tópico
    article.box
        .box-body
            .table(v-if='topics.length')
                table
                    thead
                        tr
                            th Nome
                    tbody
                        tr(v-for='topic in topics')
                            td {{ topic.name }}
                            td.text-right.no-wrap
                                a.btn-warning.btn-sm.tooltip.tooltip-end(:href='"#modal-"+topic.id' title='Editar tópico e suas opções de resposta')
                                    .material-icons edit
                                    span.d-none.d-md-inline  Editar
            .text-center.text-muted(v-else)
                br
                .h4 Ainda não há nenhum tópico cadastrado
                br
    div.modal#modal-new
        .modal-header Criar novo tópico
        .modal-body
            .row.justify-content-center
                .col-sm-11
                    form(action='#' data-success='Tópico cadastrado com sucesso' data-error='Não foi possível cadastrar o tópico' onsubmit='submit_topic(event)')
                        br
                        .input
                            input(required placeholder='Ex.: Tarefas de casa' name='name')
                            label Nome
                        hr
                        .h4 Opções de resposta
                        table.table
                            thead
                                tr
                                    th Nome
                                    th.no-wrap Valor (0-100)
                                    th.text-center Padrão
                            tbody
                                tr(v-for='(topic_option, i) in new_topic_options')
                                    td
                                        .input
                                            input(required style='margin: 0px' placeholder='Ex.: Excelente' v-model='topic_option.name' name='option_name[]')
                                    td
                                        .input
                                            input(required type='number' min='0' max='100' style='margin: 0px' placeholder='0 - 100' v-model='topic_option.value' name='option_value[]')
                                    td.text-center
                                            input(type='radio' name='option_default' value='1' v-model='topic_option.default')
                                    td.text-right(style='margin-top: -2px')
                                        button.btn-danger.tooltip.tooltip-end(title='Remover opção de resposta' style='margin: 0px 2px' :disabled='new_topic_options.length <= 2' v-on:click='new_topic_options.splice(i, 1)' type='button')
                                            .material-icons delete
                                            span.d-none.d-md-inline  Remover
                        .text-center
                            button.btn-primary.tooltip(title='Criar uma nova opção de resposta para este tópico' type='button' v-on:click='new_topic_options.push({})')
                                .material-icons add
                                | Criar nova opção
                        br
                        br
                        a.btn-danger(href='#') #[.material-icons close]  Cancelar
                        button.btn-success.pull-right(type='submit') #[.material-icons check]  Salvar
                        br
    a.modal-close(href='#')

    div(v-for='topic in topics')
        div.modal(:id='"modal-" + topic.id')
            .modal-header Editar tópico
            .modal-body
                .row.justify-content-center
                    .col-sm-11
                        form(action='#' data-success='Tópico editado com sucesso' data-error='Não foi possível editar o tópico' onsubmit='topic_update(event)')
                            input(type='hidden' name='id' :value='topic.id')
                            br
                            .row
                                .col-8
                                    .input
                                        input(required :value='topic.name' placeholder='Ex.: Tarefas de casa' name='name')
                                        label Nome
                                .col-4
                                    br
                                    label
                                        input(type='checkbox' name='active' value='1' :checked='topic.active')
                                        |  Visível
                            hr
                            .h4 Opções de resposta
                            table.table
                                thead
                                    tr
                                        th Nome
                                        th Valor (0-100)
                                        th.text-center Padrão
                                tbody
                                    tr(v-for='topic_option in orderedTopicOptions(topic.id)')
                                        td
                                            input(type='hidden' name='option_id[]' :value='topic_option.id')
                                            .input
                                                input(required :value='topic_option.name' style='margin: 0px' placeholder='Ex.: Excelente' name='option_name[]')
                                        td
                                            .input
                                                input(required :value='topic_option.value' type='number' min='0' max='100' style='margin: 0px' placeholder='0 - 100' name='option_value[]')
                                        td.text-center
                                            input(type='radio' name='option_default' value='1' :checked='topic.topic_option_id === topic_option.id')
                            .text-center
                                button.btn-primary.tooltip(type='button' title='Criar uma nova opção de resposta para este tópico' v-on:click='topic_options.push({topic_id: topic.id})')
                                    .material-icons add
                                    | Criar nova opção
                            br
                            br
                            a.btn-danger(href='#') #[.material-icons close]  Cancelar
                            button.btn-success.pull-right(type='submit') #[.material-icons check]  Salvar
                            br
        a.modal-close(href='#')

        div.modal.modal-xs(:id='"modal-visibility-" + topic.id' :class='topic.active ? "modal-danger" : "modal-success"')
            .modal-header {{ topic.active ? 'Esconder' : 'Mostrar' }} tópico
            .modal-body
                p Tem certeza que deseja {{ topic.active ? 'esconder' : 'mostrar' }} este tópico na criação dos conselhos de classe?
            .modal-footer
                a.btn-primary.btn-sm(href='#') #[.material-icons close]  Cancelar
                a.btn-danger.btn-sm.pull-right(href='#' v-if='topic.active') #[.material-icons visibility_off]  Esconder
                a.btn-success.btn-sm.pull-right(href='#' v-if='!topic.active') #[.material-icons visibility]  Mostrar
        a.modal-close(href='#')