extends layout.pug

block content
    h1.content-title
        i.material-icons person
        | Usuário
    article.box
        .box-body
            .text-center.text-muted
                br
                .h4 Página em construção
                br